@import "../core/mixins";
@import "../core/variables";

.footer {
     //position: absolute;
     //bottom: 0;
    // width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    //margin-top: 1rem;
    padding: 20px 20px;
    border-top: solid 1px $color-bright-violet;
    // margin-top: 500px;
    &__icon {
        color: $color-white;
        font-size: 2rem;
    }
    &__logo {
        &__logo-adalab {
            width: 6rem;
            height: 2rem;
        }
    }
}