@import "../core/mixins";
@import "../core/variables";

.container__landing-detailcard {
    padding: 20px;
    height: auto;
    @include tablet {
        padding: 15px 15px;
        margin: 5px;
    }
    @include desktop {
        padding: 15px 25px;
    }
}

.container__landing-detailcard .preview {
    @include tablet {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
}

.container__landing-detailcard .preview .image {
    object-fit: cover;
    width: 80%;
    height: 800px;
    margin-top: 60px;
    @include tablet {

    }
}