@import "../core/mixins";
@import "../core/variables";

.main__landing__container__buttons__button-view-projects {
        font: $font-montserrat-bold-12px;
        border: none;
        text-transform: uppercase;
        color: $color-violet;
        border-radius: 20px;
        background-color: $color-white;
        padding: 0.5rem;
    
        &:hover {
            cursor: pointer;
        }
}